@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #2D728F;
    color: white;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

/*img {
    width: 100%;
    height: auto;
    }*/


.home-title {
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

.book,
.join {
    background-color: #69DDFF;
    color: #F45B69;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #96CDFF;
    color: white;
}

.button-box {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img,
.mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: blueviolet;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: black;
}

.msg p {
    color: aqua;
    font-size: .8em;
    padding-bottom: 15px;
}

#background {
    height: 725px;
}

p {
    font-family: "Josefin sans", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lora, Georgia, serif;
}

body {
    background-color: #2D728F;
    font-family: "Josefin sans", Verdana, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #96CDFF;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-image {
    width: 100%;
}

#logo_link {
    padding: 5px;
    justify-self: center;
    align-self: center;
}

#background {
    background-color: #69DDFF;
}

footer {
    background-color: #F45B69;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: blue;
    text-decoration: none;
}

footer a:hover {
    color: white
}

footer p {
    font-size: 1.2em;
}

footer p:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
      